@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Poppins", san-serif;
}

div .partitioned {
 display: flex;
}

form>input {
    padding: 3px 40px;
    display: flex;
    font-size: 15px;
    position: relative;
    text-align: center;
    
}
#email {
    width: 40%;
}
#submit {
    background-color: black;
    color: white;
    font-weight: 300;
}
.image {
    position:relative;
    top:50%;
    left:35%;
}

h4{
    text-transform: capitalize;
}