@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{

    --primary-color:#5c48ee;
    --primary-color-dark:#0f1e6a;
    --secondary-color: #f9fafe;
    --text-color: #333333;
    --white: #ffffff;
    --max-width: 1200px; 
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}


nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    transition: 0.3s;
    text-decoration: none;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}


.link a {
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    transition: .3s;
}

.link a:hover {
    color:var(--primary-color);

}

.link .nav_btn {
    padding: .5rem 2rem;
    color: var(--white) !important;
    background-color: var(--primary-color);
    border-radius: 5px;

}

.link .nav_btn:hover {
    background-color: var(--primary-color-dark);
}

.container{
   max-width: var(--max-width);
   margin: auto;
   padding: 1rem;
   min-height: calc(100vh-100px);
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
}